{% extends 'base.html.twig' %}

{% block title %}Hello AccueilController!{% endblock %}

{% block body %}
<main class="container">

  <section class="row d-flex flex-column bd-highlight mb-3 pt-5 pb-5">
    <h2 class="btn btn-transparent row d-flex flex-column bd-highlight mb-3" data-toggle="collapse" href="#multiCollapseExample1" type="button" aria-expanded="false" aria-controls="multiCollapseExample1">Historique</h2>

    <div class="col">
        <div class="collapse multi-collapse" id="multiCollapseExample1">
          <section class="cd-horizontal-timeline">
            <div class="timeline">
                <div class="events-wrapper">
                    <div class="events">
                        <!-- <ul> -->
                            <li><a href="#0" data-date="01/01/2005">2005</a></li>
                            <li><a href="#0" data-date="01/01/2006">2006</a></li>
                            <li><a href="#0" data-date="01/01/2007">2007</a></li>
                            <li><a href="#0" data-date="01/01/2008">2008</a></li>
                            <li><a href="#0" data-date="01/01/2009">2009</a></li>
                            <li><a href="#0" data-date="01/01/2010">2010</a></li>
                            <li><a href="#0" data-date="01/01/2011">2011</a></li>
                            <li><a href="#0" data-date="01/01/2012">2012</a></li>
                            <li><a href="#0" data-date="01/01/2013">2013</a></li>
                        <!-- </ul> -->
        
                        <span class="filling-line" aria-hidden="true"></span>
                    </div> <!-- .events -->
                </div> <!-- .events-wrapper -->
                    
                <div class="cd-timeline-navigation">
                    <div><a href="#0" class="prev inactive">Prev</a></div>
                    <div><a href="#0" class="next"><i class="fas fa-chevron-right"></i></a></div>
                </div> <!-- .cd-timeline-navigation -->
            </div> <!-- .timeline -->            
            
                <div class="events-content">
                    <!-- <ul> -->
                        <li data-date="01/01/2005">
                            <h2>Reconnaissances et analyses stratégiques du projet</h2>
                            <p>	
                            </p>
                        </li>
            
                        <li data-date="01/01/2006">
                            <h2>Reconnaissances et analyses stratégiques du projet</h2>
                            <p>	
                            </p>  
                        </li>
            
                        <li data-date="01/01/2007">
                            <h2>Dernières étapes administratives</h2>
                            <p>
                            </p>
                        </li>
            
                        <li data-date="01/01/2008">
                            <h2>Event title here</h2>
                            <p>
                            </p>
                        </li>
            
                        <li data-date="01/01/2009">
                            <h2>Event title here</h2>
                            <p>
                            </p>
                        </li>
            
                        <li data-date="01/01/2010">
                            <h2>Event title here</h2>
                            <p>
                            </p>
                        </li>
            
                        <li data-date="01/01/2011">
                            <h2>Event title here</h2>
                            <p>
                            </p>
                        </li>
            
                        <li data-date="01/01/2012">
                            <h2>Event title here</h2>
                            <p>
                            </p>
                        </li>
                        <li data-date="01/01/2013">
                            <h2>Event title here</h2>
                            <p>	

                            </p>
                        </li>
                    <!-- </ul> -->
                </div> <!-- .events-content -->
            </section>
        </div>
      </div>
  </section>
  <section class="row d-flex flex-column bd-highlight mb-3">
    <h2 class="btn btn-transparent row d-flex flex-column bd-highlight mb-3 pb-5 rounded-pill" type="button" data-toggle="collapse" data-target="#multiCollapseExample2" aria-expanded="false" aria-controls="multiCollapseExample2">Les fondateurs</h2>    
    <div class="collapse multi-collapse" id="multiCollapseExample2">
      <div class="row">
        <div class="col sm-6">
            <div class="card card-body border-0">
                <img src="christophe.png" class=" rounded-circle mx-auto d-block" alt="...">
                <h3 class="card-title text-center">Christophe Lohr</h3>
                <p class="text-justify">Christophe Lohr  a préparé sa Thèse de Doctorat au sein du Groupe d’Etudes et de Recherches sur les Microondes (GERM) sous la codirection des Professeurs D. Stuerga et P. Pribetich. Cette thèse, soutenue le 5 novembre 2004, avait pour objectif la modélisation et l’optimisation d’un applicateur microonde cylindrique à ondes progressives fortement dissipatif. Les résultats obtenus ont été favorables à l’optimisation du système RAMO et au développement du pilote microonde. Ces travaux de recherches ont conduit à la rédaction de trois publications et à la participation à plusieurs Congrès et Symposium internationaux. Christophe Lohr a activement et très efficacement contribué au développement du groupe de recherche, particulièrement en ce qui concerne la composante conception et développement de réacteurs. De plus, il a pu prouver son adaptabilité à de multiples situations pour lesquelles les contacts humains et une grande habilité étaient indispensables. 
                <p class="text-justify">Son engagement dans le processus de création d’une entreprise valorisant les travaux de recherche paraissait un tremplin original pour intégrer le monde socio-professionnel dans une branche industrielle à fort potentiel comme l’industrie des  nanomatériaux.</p>
                <p class="text-justify">En janvier 2005, après sa Thèse de Doctorat, il s’engage dans ce projet d’entreprise. Son statut est alors celui d’Attaché Temporaire d’Enseignement et de Recherches (ATER) à la Faculté de Sciences et Techniques (septembre 2004 à septembre 2005) puis à la Faculté de Médecine et Pharmacie (septembre 2005 à septembre 2006). Ce statut lui permet de subvenir à ces besoins en consacrant une partie de son temps au projet. L’aide de l’Incubateur lui permet de suivre la formation Top Entreprendre de la Chambre Régionale de Commerce et d’Industrie de Bourgogne (CRCI) ainsi qu’une formation à l’anglais d’affaire avec Wall Street Institute. A partir de septembre 2006, il bénéficie de la Bourse du créateur financée par la Conseil Régional de Bourgogne. Ce nouveau statut lui permet d’employer alors son temps intégralement au projet. Enfin les statuts de l’entreprise sont déposés en juin 2007. Sa fonction aujourd’hui est celle de dirigeant.</p> 
            </div>
        </div>
        <div class="col sm-6">
            <div class="card card-body border-0">
                <img src="david.png" class=" rounded-circle mx-auto d-block" alt="...">
                <h3 class="card-title text-center">David Sturga</h3>
               <p class="text-justify">Didier Stuerga obtient le titre de Professeur des Universités en Chimie-Physique en octobre 1997. Il crée alors le Groupe d’Etudes et de Recherches sur les Microondes (GERM) spécialisé dans la conception et le développement d’applicateurs et de réacteurs microonde de hautes puissances pour l’élaboration de nanomatériaux. Son activité scientifique est reconnue sur le plan international avec plus de 100 conférences, 40 publications et la participation à plusieurs ouvrages dont deux livres blancs. Il a encadré et coencadré 17 thèses de doctorat. En 1994, l’International Microwave Power Institute, organisme américain de référence en chauffage microonde, lui a décerné le Best Paper Award. Il a organisé et présidé plusieurs sessions du prestigieux symposium Progress In Electromagnetic Research Symposium. Il est membre de l’International Electromagnetic (IEEE) et de The Electromagnetic Academy of MIT. Il est inscrit dans The Electromagnetic Who’s Who. Il a également été membre associé de l’Expert Working Group Capillarity de l’Agence Spatiale Européenne.</p>
               <p class="text-justify">Son rôle de porteur de projet et de partenaire est de contribuer à la réussite de l’entreprise en apportant un concours scientifique et technique, au sens défini par l’article 25-2 de la loi n°99-587 du 12 juillet 1999 sur l’innovation et la recherche, tout en continuant à assurer le plein exercice de ses fonctions de Professeurs des Universités, particulièrement l’animation de l’équipe de recherche GERM du Laboratoire de Recherche sur la Réactivité des Solides.</p> 
                
               <p class="text-justify">Son engagement intervient à plusieurs niveaux :
               - aider scientifiquement et techniquement l’entreprise face aux problèmes qu’elle rencontrera,
               - mettre à disposition les installations du KiloLab et les équipements du laboratoire par le biais du GERM au sein du Laboratoire Interdisciplinaire Carnot de Bourgogne de l’Université de Bourgogne,
               - faciliter la participation aux membres du GERM dans les thématiques proches de celles que la structure aura à résoudre.
               Son engagement personnel s’est traduit par une prise de participation dans le capital social de l’entreprise (avis favorable de la commission déontologie). </p> 
            </div>
          </div>
        </div>
      </div>
  </section>
</main>
    <script src="{{asset('js/societe.js')}}" type="text/javascript"></script>
{% endblock %}