<footer class="page-footer font-small bg-light text-dark pt-4 fixed">
    <!-- Footer Links -->
    <div class="container text-center text-md-left">
      <!-- Grid row -->
      <div class="row">
        <!-- Grid column -->
        <div class="col-md-4 mx-auto">
          <!-- Content -->
          <h5 class="font-weight-bold text-uppercase mt-3 mb-4"><img src="{{ asset('img/naxagoras.png') }}" width="50%" class="d-inline-block align-top mx-3"
            alt="Naxagoras-Technology'"></h5>
        </div>
        <!-- Grid column -->
        <!-- Grid column -->
        <div class="col-md-2 mx-auto">
          <!-- Links -->
          <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Naxagoras technology</h5>
          <ul class="list-unstyled">
            <li>
                <p>64 E rue de SULLY</p>
                <p>21000 DIJON</p>
            </li>
          </ul>
        </div>
        <!-- Grid column -->
        <div class="col-md-2 mx-auto">
            <!-- Links -->
            <ul class="list-unstyled">
              <li>
                <a href="#!">Mentions Legales</a>
              </li>
              <li>
                <a href="#!">Contactez-nous</a>
              </li>
            </ul>
        </div>
    </div>
    <!-- Footer Links -->
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2018 Copyright
      <a href="https://mdbootstrap.com/education/bootstrap/"> MDBootstrap.com</a>
    </div>
    <!-- Copyright -->
</footer>