{% extends 'base.html.twig' %}

{% block title %}Hello AccueilController!{% endblock %}

{% block body %}
              <main class="container-fluid">

                  <section class="row header">
                    <div class="col-12">
                      <h1>Naxagoras Technology : l'innovation à portée de main</h1>
                      <p>Vos exigences sont les notres !</p>
                      <a class="btn btn-danger"  href="/contact.php">Contactez nous</a>

                  </section>

{# <section>
                    </div>
                    <div class="line">
                    <div class="parallelogram" id="one"></div>
                    <div class="parallelogram" id="two"></div>
                    <div class="parallelogram" id="three"></div>
                    <div class="parallelogram" id="four"></div>
                    <div class="parallelogram" id="five"></div>
                    <div class="parallelogram" id="six"></div>
                  </div>
</section> #}
              <section class="row cloudword">   
                <div class="col-12">
                    <h2>Fonctionnalités à la carte</h2>
                    <p>Nous avons ce que vous cherchez !</p>

                    
                  <div id="tagsList">
                    <span><a class="text-uppercase" href="#">Thermochromique</a></span>
                    <span><a class="text-uppercase" href="#">Plastique</a></span>
                    <span><a class="text-uppercase" href="#">Peinture</a></span>
                    <span><a class="text-uppercase" href="#">Nanoparticules</a></span>
                    <span><a class="text-uppercase" href="#">Innovations</a></span>
                    <span><a class="text-uppercase" href="#">Formation</a></span>
                    <span><a class="text-uppercase" href="#">Fonctions</a></span>
                    <span><a class="text-uppercase" href="#">Fonctionnalités</a></span>
                    <span><a class="text-uppercase" href="#">Anti-contrefaçon</a></span>
                    <span><a class="text-uppercase" href="#">Nanomatériaux</a></span>
                    <span><a class="text-uppercase" href="#">Technologies</a></span>
                    <span><a class="text-uppercase" href="#">Développement</a></span>
                    <span><a class="text-uppercase" href="#">Expert</a></span>
                    <span><a class="text-uppercase" href="#">Plasturgie</a></span>
                    <span><a class="text-uppercase" href="#">Peinture</a></span>
                    <span><a class="text-uppercase" href="#">Thermoplastiques</a></span>
                    <span><a class="text-uppercase" href="#">Revêtement</a></span>
                    <span><a class="text-uppercase" href="#">Photoluminescence</a></span>
                    <span><a class="text-uppercase" href="#">Encre</a></span>
                    <span><a class="text-uppercase" href="#">Vernis</a></span>
                    <span><a class="text-uppercase" href="#">Ecodéveloppement </a></span>
                    <span><a class="text-uppercase" href="#">Bioformulation </a></span>
                    <span><a class="text-uppercase" href="#">Valeurs</a></span>
                    <span><a class="text-uppercase" href="#">Conférence</a></span>
                    <span><a class="text-uppercase" href="#">Traçabilité</a></span>
                    <span><a class="text-uppercase" href="#">Satisfaction</a></span>
                    <span><a class="text-uppercase" href="#">Expertise</a></span>
                    <span><a class="text-uppercase" href="#">R&D</a></span>
                </div>
            </div> 
          </section>

          </main>
    
    <script src="{{asset('js/accueil.js')}}" type="text/javascript"></script>
{% endblock %}
